$defaultFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', sans-serif, Verdana, sans-serif;
$defaultFontSize: 14px;
$brandColor: #1677ff;
$activeColor: rgb(239, 239, 239);
$brandBgColor: #1890ff;
$textColor: #1b1b1b;
$textShadow: transperent;
