@import '../../sourses/styles/variables.scss';

.orderPage {
  padding: 0 15px 40px 15px;
}
.title {
  margin: 20px auto;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: $brandColor;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px 40px 15px;
  border: 1px solid rgb(189, 189, 189);
  background-color: #f6fafb;

  .wripper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 20px 0;

    border-radius: 7px;
  }

  .orderForm {
    width: 100%;
    max-width: 600px;
    min-height: 500px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .button {
    display: flex;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 35px;
  }
}
