.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;

  .Modal {
    position: relative;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
    margin: 0 auto;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    overflow-y: auto;
  }
}

.closeModal {
  position: absolute;
  top: 10px;
  left: 90%;
  // margin-right: auto;
  //  margin-right: 0;
  border-radius: 50%;
  background-color: red;
}
.closeModal:hover {
  background-color: red;
}
