@import '../../../sourses/styles/variables.scss';

.icon {
  width: 30px;
  height: 30px;
  margin-right: 5px;

  &:hover {
    fill: $activeColor;
  }
}
.cart {
  display: block;
  margin: 0;
  width: 30px;
  height: 30px;
  fill: rgb(252, 246, 246);
}


