@import '../../sourses/styles/variables.scss';

.container {
  display: block;
  width: 100%;
  padding: 0;

  .title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: $brandColor;
  }

  .mapContainer {
    width: 100%;
    min-height: 400px;
  }
}
@media screen and (min-width:1280px) {
  .container {
    max-width: 700px;
  }
}
