.li {
  display: block;
  max-width: 100px;
  height: 100px;

  .img {
    align-self: center;
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
      // border: 1px solid #32c220;
    }
  }
}
