@import '../../sourses/styles/variables.scss';

.footer {
  position: relative;
  padding: 10px;
  background-color: $brandColor;

  .container {
    display: block;
    width: 100%;
    margin: 0 auto;

    .list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 0;

      .item {
        max-width: 300px;
        padding: 10px 10px;
        .title {
          margin-bottom: 20px;
          font-size: 25px;
          font-weight: 700;
          text-align: left;
          color: #ffffff;
        }

        .wripper {
          display: flex;
          align-items: center;
          justify-content: left;
          margin-bottom: 15px;

          .link {
            margin-bottom: 0;
            font-family: Barlow;
            font-size: 19px;
            font-weight: 500;
            text-align: left;
            color: white;

            &:hover {
              cursor: pointer;
            }
          }

          .icon {
            width: 20px;
            height: 20px;
            margin-right: 20px;
          }
        }
        .subtitle {
          min-width: 70px;
          margin-bottom: 10px;
          font-family: Barlow;
          font-size: 18px;
          font-weight: 600;
          text-align: left;
          color: white;
        }
        .text {
          display: block;
          margin-bottom: 15px;
          font-family: Barlow;
          font-size: 18px;
          font-weight: 300;
          text-align: left;
          color: #ffffff;

          &:hover {
            cursor: pointer;
          }
        }
        .visa {
          margin: 0 auto;
          margin-top: 30px;
          height: 50px;
        }
      }
      .item.itemNone {
        display: none;
      }
    }
  }
  .copyright {
    margin-right: 20px;
    .text {
      margin-bottom: 0;
      font-family: Barlow;
      font-size: 16px;
      font-weight: 300;
      text-align: right;
      color: black;
    }
  }
}
@media screen and (min-width: 768px) {
  .footer {
    .container {
      max-width: 1280px;

      .list {
        justify-content: space-between;
        .item {
        }
        .item.itemNone {
          display: block;
        }
      }
    }
  }
}
